<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.foodshop.mapper.ShopcarMapper">
  <resultMap id="BaseResultMap" type="com.java.foodshop.pojo.Shopcar">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="ordernum" jdbcType="INTEGER" property="ordernum" />
    <result column="conunt_price" jdbcType="BIGINT" property="conuntPrice" />
  </resultMap>
</mapper>